<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>
<body>
    <div>
        <img src="<%- user._json.picture %>" alt="auther_image"/>
        <h3><%- user.displayName %></h3>
        <p><%- user.emails[0].value  %></p>  
        <a href="/logout" class="Logout_button">Logout</a> 
    </div>
</body>
</html>